---
import "../../styles/global.css";
---

<div class="activities">
    <slot />
</div>

<style>
    .activities {
        @apply h-[200px] w-[200px] flex flex-col items-center justify-center border-[1.0px] m-[12px] rounded-[8px];
    }
    
</style>