---
import "../../styles/global.css";
import Menu from "../../../components/Menu.astro";
import Progress from "../../../components/Progress.astro";
import Home from "../../Home/index.astro";
---

<div class="container">
    <div class="menu">

    </div>
    <div class="sub-container">

    </div>
</div>