---
import "../styles/global.css";
---

<div class="achievement-card">
    <slot />
    
    
</div>

<style>
    .achievement-card {
        @apply h-[200px] w-[200px] flex flex-col items-center justify-center border-[1.0px]
    }
    
</style>
