---
import { cargarNotas } from "../scripts/loadNotes.js";
const notas = await cargarNotas();
import Activities from "./Vue/Activities.astro";
---

<Activities>
    <a href="/Diary/note" class="activity-item special-card no-underline">
        <div class="icon-container">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon"
                viewBox="0 0 24 24"
                fill="none"
                stroke="#2c2c2c"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
            >
                <path d="M12 5v14M5 12h14"></path>
            </svg>
        </div>
        <h2>Agregar Nota</h2>
    </a>

    {
        notas.map((nota) => (
            <a
                href={`/Diary/seeNote?id=${nota.id}`}
                class="activity-item special-card no-underline"
            >
                <div class="icon-container">
                    <span>📝</span>
                </div>
                <h2>{nota.fecha.toDate().toLocaleDateString()}</h2>
            </a>
        ))
    }
</Activities>
