---
import "../styles/global.css"
---
<div class="container">
    <i class="fa-solid fa-bell"></i>
</div>
<script src="https://kit.fontawesome.com/cc651b5ac7.js" crossorigin="anonymous"></script>

<style>
    @apply h-[80px] w-[80px] 
</style>