---
import "../styles/global.css";
---
<div class="container">
    <slot/>
</div>

<style>
    .container{
        @apply flex flex-col h-[400px] w-[320px] bg-[#245540] rounded-[20px] text-[#FEFEE2] p-[12px]
    }
</style>