---
import "../styles/global.css";
---
<div class="container-progress ">
<div class="progress-wrapper ">
    <div class="progress-circle">

    </div>
</div>
<div class=" progress-info">
    <slot/>
</div>
</div>

<style>
    .container-progress{
        @apply bg-[#f5f5dc] w-[280px] h-[250px]
    }
    .progress-wrapper{
        @apply h-[50%] justify-center items-center flex
    }
    .progress-circle{
        @apply rounded-full bg-[#e9aa61] h-[120px] w-[125px]
    }
    .progress-info{
        @apply h-[50%]
    }
   
</style>