---
import "../../styles/global.css";
import Menu from "../../components/Menu.astro";
import Home from "../Home/index.astro";
import Signature from "../../components/Signature.astro";
import Signatures from "../Challenges/Signatures/index.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <Menu></Menu>
        </div>

        <div class="information">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ea nesciunt rerum quos quidem facilis alias commodi. Velit, 
                nam odit non vero repudiandae possimus odio nobis, blanditiis harum, impedit iusto.</p>
            <div class="advance-content">
                <Signature>
                    
                    <div class="container-progress ">
                        <div class="progress-wrapper ">
                            <a href="Signatures/"><span>Ingles</span></a>

                            <div class="progress-circle">
                                <img src="../../../public/logoIngles.png" alt="">
                        
                            </div>
                        </div>
                        <div class=" progress-info">
                        
                            <h2>verbo to be</h2>
                        </div>
                    </div>
                </Signature>
                <Signature/>
                <Signature/>
            </div>
        </div>
    </div>    
</body>
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: #FFFFF0;
        /* @apply w-screen h-screen m-0 p-0 overflow-hidden; */
    }

    .container {
        @apply flex h-screen bg-[#FFFFF0] w-full;
    }

    .menu {
        @apply w-[300px] h-full;
    }

    .information {
        @apply w-[1500px] flex-col h-full flex items-center justify-center bg-[#FFFFF0];
}   
    .information > p{
        @apply text-[20px] text-center flex;
        
    }
    .advance-content {
        @apply w-full h-[50%] p-[10%] flex items-center justify-end space-x-[24px] bg-[#FFFFF0];
    }
    .container-progress{
        @apply bg-[#f5f5dc] w-[280px] h-[250px]
    }
    .progress-wrapper{
        @apply h-[50%] justify-center items-center flex flex-col
    }

    .progress-circle{
        @apply rounded-full bg-[#FFFFF0] h-[120px] w-[125px]
    }
    .progress-info{
        @apply h-[50%]
    }
    .progress-info > h2{
        @apply h-[50%]  text-[30px]  items-end flex justify-center 
    }
    .progress-info > span{
        @apply h-[50%] text-[20px] justify-center flex items-start
    }
    @media and Screen()



</style>

</html>