---
import "../../styles/global.css";
import Menu from "../../components/Menu.astro";
import Home from "../Home/index.astro";
import Signature from "../../components/Signature.astro";
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="../../../public/logo-fondo.jpg" />
    <title>Mis Retos </title>
</head>
<body>
    <div class="container">
        <div class="menu">
            <Menu></Menu>
        </div>

        <div class="information">
            <p>¡Tus retos te están esperando! Aprende, 
                juega y demuestra todo lo que sabes. 💪📚 
                ¡Tú puedes lograrlo!</p>
            <div class="advance-content">
                <Signature>
                    
                    <div class="container-progress ">
                        <div class="progress-wrapper ">
                            <a href="/Challenges/Signatures/"><span>Inglés</span></a>
                            <div class="progress-circle">
                                <img src="../../../public/logoIngles.png" alt="">
                            </div>
                        </div>
                        <div class=" progress-info">
                        
                            <h2>Tareas Pendientes</h2>
                            <a href="/Challenges/Signatures/" class="text-[#288b98] underline text-center text-[19px]">Ver</a>
                        </div>
                    </div>
                </Signature>
                <!-- <Signature>
                    <div class="container-progress ">
                        <div class="progress-wrapper ">
                            <a href="Signatures/" class="mt-2"><span>Ingles</span></a>

                            <div class="progress-circle">
                                <img src="../../../public/logoIngles.png" alt="">
                        
                            </div>
                        </div>
                        <div class=" progress-info">
                        
                            <h2>Simple present</h2>
                            <a href="/Challenges/Signatures/" class="text-[#288b98] underline text-center text-[19px]">Ver</a>
                        </div>
                    </div>
                </Signature>
                <Signature>
                    <div class="container-progress ">
                        <div class="progress-wrapper ">
                            <a href="Signatures/"><span>Ingles</span></a>

                            <div class="progress-circle">
                                <img src="../../../public/logoIngles.png" alt="">
                        
                            </div>
                        </div>
                        <div class=" progress-info">
                        
                            <h2>verb to be</h2>
                            <a href="/Challenges/Signatures/" class="text-[#288b98] underline text-center text-[19px]">Ver</a>
                        </div>
                    </div>
                </Signature> -->
            </div>
        </div>
    </div>    
</body>
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
        background-color: #FFFFF0;
        /* @apply w-screen h-screen m-0 p-0 overflow-hidden; */
    }

    .container {
        @apply flex h-screen bg-[#FFFFF0] w-full;
    }

    .menu {
        @apply w-[300px] h-full;
    }

    .information {
        @apply w-[1500px] flex-col h-full flex items-center justify-center bg-[#FFFFF0];
}   
    .information > p{
        @apply text-[35px] text-center flex mb-[70px];
        
    }
    .advance-content {
        @apply w-full h-[50%] p-[10%] flex items-center justify-center space-x-[24px] bg-[#FFFFF0];
    }
    .container-progress{
        @apply bg-[#f5f5dc] w-[280px] h-[290px] flex items-center justify-center flex-col
    }
    .progress-wrapper{
        @apply h-[50%] justify-center items-center flex flex-col
    }

    .progress-circle{
        @apply rounded-full bg-[#FFFFF0] h-[120px] w-[125px]
    }
    .progress-info{
        @apply h-[50%] flex flex-col justify-center items-center
    }
    .progress-info > h2{
        @apply h-[50%]  text-[30px]  items-end flex justify-center 
    }
    .progress-info > span{
        @apply h-[50%] text-[20px] justify-center flex items-start
    }
    @media and Screen()



</style>

</html>