---
import "../styles/global.css"
import ButtonLogin from "../components/button-login.astro"
import Login from "../pages/Login/index.astro";
import Progress from "../components/Progress.astro";
import Home from "../pages/Home/index.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="../../public/logo-fondo.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>FlorentIA</title>
	</head>
	<body>
		<div class="container bg-[linear-gradient(to_bottom,#B5D9EC,#183D2D,#3C3122)] mx-auto w-screen">
			<div class="sub-container  w-[1280px] w-max[1280px] flex items-center justify-center m-auto flex-col">
				<div class="header w-full h-20 flex m-auto">
					<div class="container-logo w-[25%] bg-[#B5D9EC] h-full">
						<img src="../../public/logo.png" alt="" class="h-[280px] mt-[-100px]  ml-[25px]">
					</div>
					<div class="container-items w-[75%] h-full bg-[#B5D9EC] flex space-x-20 justify-center items-center hover:cursor-p">
						<div class="items flex space-x-25 justify-end items-center bg-[#B5D9EC] w-[60%] ">
							<a href="/Home">
								<span class="text-[#184D6D] flex flex-col items-center justify-center hover:cursor-pointer">Sobre
									<span class="mt-[-8px]">Nosotros</span>
								</span>
							</a>
							<span class="text-[#184D6D] flex flex-col items-center justify-center hover:cursor-pointer">Viaje
								<span class="mt-[-8px]">del Saber</span>
							</span>
							<span class="text-[#184D6D] flex flex-col items-center justify-center hover:cursor-pointer">Elige tu
								<span class="mt-[-8px]">Aventura</span>
							</span>
						</div>
						<div class="login flex space-x-5 justify-center items-center bg-[#B5D9EC] w-[40%]">
							<ButtonLogin>
								<a href="/Login">
									<span class="text-[#FEFEE2] hover:cursor-pointer">Iniciar</span>
									<span class="text-[#FEFEE2] hover:cursor-pointer">Sesión</span>
								</a>
								
							</ButtonLogin>
							<ButtonLogin>
								<span class="text-[#FEFEE2] hover:cursor-pointer">Crear</span>
								<span class="text-[#FEFEE2] hover:cursor-pointer">Cuenta</span>
							</ButtonLogin>
						</div>
					</div>
				</div>
				<div class="content-info bg-purple-600 h-[650px] w-[1280px] w-max[1280px] flex flex-col items-center justify-center text-[#FFF4D9] font-bold">
					<div class="montain bg-[#B5D9EC] h-[50%] w-full">
						<p class="text-[44px] text-center w-[650px] ">
							Explora, aprende y haz crecer tu jardín del conocimiento
						</p>
						<img src="../../public/mountain.png" alt="" class="h-[390px] w-[950px] mt-[-145px] ml-[340px]">
						<img src="../../public/mountain-short.png" alt="" class="h-[350px] w-[450px] mt-[-360px]">
					</div>
					<div class="grass h-[50%] bg-[linear-gradient(to_bottom,#538802_0%,#305C1B_62%,#183D2D_100%)] w-full">
						<img src="../../public/arbusto-flor.png" alt="" class="mt-[-60px] ml-[1140px] h-[90px]">
						<img src="../../public/arbusto-1.png" alt="" class="h-[90px] mt-[-100px] ml-[200px]">
						<img src="../../public/arbusto-2.png" alt="" class="h-[110px] mt-[-100px] ml-[300px]">
						<img src="../../public/arbusto-3.png" alt="" class="h-[110px] mt-[-100px] ml-[400px]">
						<img src="../../public/arbusto-4.png" alt="" class="h-[110px] mt-[-100px] ml-[1000px]">
						<img src="../../public/arbusto-5.png" alt="" class="h-[110px] mt-[-100px] ml-[1080px]">
						<img src="../../public/mascota.png" alt="" class="h-[260px] mt-[-100px] ml-[600px]">
						<img src="../../public/arbustos.png" alt="" class="h-[200px] ml-[500px] mt-[-60px]">
					</div>
				</div>
			</div>
			<div class="info w-[1280px] w-max-[1280px] h-[350px] bg-[#183D2D] mx-auto flex flex-col items-center justify-center">
				<h2 class="text-[38px] text-[#FEFEE2] font-semibold">Un poco sobre nosotros</h2>
				<p class="text-[23px] mt-[12px] text-[#FEFEE2] w-[966px] text-center">FlorentIA convierte el aprendizaje en una aventura, llena de desafíos y descubrimientos. Con tecnologia interactiva hace que cada lección sea emocionante y unica. ¡Aquí, aprender es explorar!</p>
			</div>
			<div class="experiences h-[300px] w-[1280px] w-max-[1280px] bg-[#183D2D] mx-auto flex items-center justify-evenly">
				<div class="experience-info h-[95%] w-[30%] bg-[#245540] rounded-2xl flex items-center justify-center flex-col">
					<img src="../../public/children.jpg" alt="" class="h-[150px] rounded">
					<p class="text-[#FEFEE2] text-[16px] text-center w-[280px] mt-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
				<div class="experience-info h-[95%] w-[30%] bg-[#245540] rounded-2xl flex items-center justify-center flex-col">
					<img src="../../public/children.jpg" alt="" class="h-[150px] rounded">
					<p class="text-[#FEFEE2] text-[16px] text-center w-[280px] mt-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
				<div class="experience-info h-[95%] w-[30%] bg-[#245540] rounded-2xl flex items-center justify-center flex-col">
					<img src="../../public/children.jpg" alt="" class="h-[150px] rounded">
					<p class="text-[#FEFEE2] text-[16px] text-center w-[280px] mt-[15px]">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
				</div>
			</div>
			<div class="footer w-[1280px] w-max[1280px] h-[300px] flex mx-auto justify-center items-center bg-gradient-to-t from-[#4a2c1d] via-[#3c3122] to-[#183d2d]">
				<div class=" w-[34%] h-full flex items-center justify-center">
					<img src="../../public/logo-fondo.jpg" alt="" class="h-[250px] rounded-2xl">
				</div>
				<div class="w-[66%] h-full flex flex-col space-y-4 items-center justify-center">
					<div class="h-[45%] w-full flex items-end justify-center space-x-7">
						<div class="h-[50px] w-[50px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
							<i class="fa-brands fa-instagram text-[#184D6D] text-[30px]"></i>
						</div>
						<div class="h-[50px] w-[50px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
							<i class="fa-brands fa-tiktok text-[#184D6D] text-[25px]"></i>
						</div>
						<div class="h-[50px] w-[50px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
							<i class="fa-brands fa-youtube text-[#184D6D] text-[30px]"></i>
						</div>
						<div class="h-[50px] w-[50px] rounded-full bg-[#D9D9D9] flex justify-center items-center">
							<i class="fa-brands fa-facebook text-[#184D6D] text-[30px]"></i>
						</div>
					</div>
					<div class="h-[45%] w-full  flex flex-col items-center justify-start">
						<p class="text-[15px] text-[#FEFEE2]">Todos los derechos reservados</p>
						<p class="text-[15px] text-[#FEFEE2]">Desarrollado por: SoftTech Systems©</p>
					</div>
				</div>
			</div>
		</div>
		<slot />
		<script src="https://kit.fontawesome.com/cc651b5ac7.js" crossorigin="anonymous"></script>
	
	</body>
</html>

