---
import "../styles/global.css"
import ButtonLogin from "../components/button-login.astro"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<!-- <ButtonLogin></ButtonLogin> -->
		<div class="container bg-orange-600 m-auto">
			<div class="sub-container bg-blue-600 w-max[1200px] h-20 flex items-center justify-center m-auto">
				<div class="header w-full h-full flex m-auto">
					<div class="container-logo w-[25%] bg-pink-400 h-full"></div>
					<div class="container-items w-[75%] h-full bg-red-500"></div>
				</div>
				<p>
					Explora, aprende y haz crecer tu jardín del conocimiento
				</p>
			</div>
		</div>
		<slot />
	</body>
</html>